body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#photo {
  width: 40%;
  height: fix;
  position: relative; /* Ensure the photo is positioned relative to its container */
}

#buttons {
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(0%, 0%);
}

button {
  width: 40px; /* Set the width of the button */
  height: 40px; /* Set the height of the button */
//  display: block;
  margin-bottom: 10px;
//
//  width: 150px; /* Set the width of the button */
//  height: 50px; /* Set the height of the button */
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
//  display: inline-block;
  font-size: 10px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 20px;  
  
}

#info {
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}