<style>
  .remote-container {
    position: relative;
    width: 200px; /* Adjust according to your image size */
    margin: 0 auto;
  }

  .remote-image {
    display: block;
    width: 100%;
  }

  .audio-button {
    position: absolute;
    border-radius: 50%;
    background-color: yellow; /* Change button color to green */
    width: 20px; /* Adjust button size */
    height: 20px; /* Adjust button size */
    border: none;
    cursor: pointer;
    /* Adjust content alignment to center */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Ensure buttons are above the image */
  }

  /* Adjust the position of each button */
  .audio-button-1 {
    top: 80px;
    left: 52px;
  }

  .audio-button-2 {
    top: 130px;
    left: 52px;
  }

  .audio-button-3 {
    top: 130px;
    left: 106px;
  }

  .audio-button-4 {
    top: 180px;
    left: 52px;
  }

  .audio-button-5 {
    top: 180px;
    left: 79px;
  }

  .audio-button-6 {
    top: 180px;
    left: 108px;
  }
  
  .audio-button-7 {
    top: 5px;
    left: 79px;
  }
  
</style>